<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: test hooks for the emulator (see DebugKeyReceiver). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".debug.DebugKeyReceiver"
            android:exported="true" />
    </application>
</manifest>
